In [9]:
import pandas as pd
import numpy as np
from sklearn.linear_model import LogisticRegression

In [11]:
df = pd.read_csv('data/titanic.csv')

In [12]:
df.head(2)

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C

In [24]:
df_lin = df[['Survived', 'Pclass', 'Sex']]

In [25]:
df_lin.head(3)

   Survived  Pclass     Sex
0         0       3    male
1         1       1  female
2         1       3  female

In [28]:
def chng_sex(sex):
    return 1 if sex == 'male' else 0

In [31]:
df_lin['Sex'] = df_lin['Sex'].apply(chng_sex)

/Users/evgeny_kolomiets/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [32]:
df_lin

     Survived  Pclass  Sex
0           0       3    1
1           1       1    0
2           1       3    0
3           1       1    0
4           0       3    1
..        ...     ...  ...
886         0       2    1
887         1       1    0
888         0       3    0
889         1       1    1
890         0       3    1

[891 rows x 3 columns]

In [33]:
y = np.array(df_lin['Survived'])

In [34]:
X = np.array(df_lin[['Pclass', 'Sex']])

In [35]:
lr_model = LogisticRegression()

In [36]:
lr_model.fit(X, y)

LogisticRegression()

In [37]:
lr_model.coef_

array([[-0.93682543, -2.55361558]])

In [42]:
import statsmodels.formula.api as smf

In [46]:
log_reg = smf.logit('Survived ~ Sex+Pclass', data=df, ).fit()

Optimization terminated successfully.
         Current function value: 0.464195
         Iterations 6

In [47]:
print(log_reg.summary())

                           Logit Regression Results
==============================================================================
Dep. Variable:               Survived   No. Observations:                  891
Model:                          Logit   Df Residuals:                      888
Method:                           MLE   Df Model:                            2
Date:                Tue, 17 May 2022   Pseudo R-squ.:                  0.3029
Time:                        16:09:04   Log-Likelihood:                -413.60
converged:                       True   LL-Null:                       -593.33
Covariance Type:            nonrobust   LLR p-value:                 8.798e-79
===============================================================================
                  coef    std err          z      P>|z|      [0.025      0.975]
-------------------------------------------------------------------------------
Intercept       3.2946      0.297     11.077      0.000       2.712       3.878
Sex[T.male]    -2.6434      0.184    -14.380      0.000      -3.004      -2.283
Pclass         -0.9606      0.106     -9.057      0.000      -1.168      -0.753
===============================================================================